In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Car Sales Missing Data.csv")

In [3]:
data.describe()

       Odometer (KM)       Doors
count     950.000000  950.000000
mean   131253.237895    4.011579
std     69094.857187    0.382539
min     10148.000000    3.000000
25%     70391.250000    4.000000
50%    131821.000000    4.000000
75%    192668.500000    4.000000
max    249860.000000    5.000000

In [4]:
data.head()

     Make Colour  Odometer (KM)  Doors      Price
0  Nissan  Black        10148.0    4.0  Rs1366850
1  Toyota  White        10217.0    4.0  Rs1144150
2  Toyota  White        10247.0    4.0  Rs1628300
3   Honda  White        10953.0    4.0   Rs831800
4  Nissan   Blue        10954.0    4.0  Rs1521950

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           951 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    object
dtypes: float64(2), object(3)
memory usage: 39.2+ KB

In [6]:
data.isnull()

      Make  Colour  Odometer (KM)  Doors  Price
0    False   False          False  False  False
1    False   False          False  False  False
2    False   False          False  False  False
3    False   False          False  False  False
4    False   False          False  False  False
..     ...     ...            ...    ...    ...
995  False   False           True  False  False
996  False   False           True  False  False
997  False   False           True  False  False
998  False   False           True  False   True
999  False   False           True  False   True

[1000 rows x 5 columns]

In [7]:
data.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [8]:
data.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price             object
dtype: object

In [9]:
data['Odometer (KM)'].mean()

131253.23789473684

In [10]:
data['Odometer (KM)'].fillna(data['Odometer (KM)'].mean(), inplace=True)

In [11]:
data.isnull().sum()

Make             49
Colour           50
Odometer (KM)     0
Doors            50
Price            50
dtype: int64

In [12]:
data['Doors'].fillna(data['Doors'].mean(), inplace=True)

In [13]:
data.isnull().sum()

Make             49
Colour           50
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [14]:
data.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price             object
dtype: object

In [15]:
mode = data['Colour'].mode()
mode

0    White
dtype: object

In [16]:
data['Colour'].fillna('White', inplace=True)

In [17]:
data.isnull().sum()

Make             49
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [18]:
mode = data['Make'].mode()
mode

0    Toyota
dtype: object

In [19]:
data['Make'].fillna('Toyota', inplace=True)

In [20]:
data.isnull().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [21]:
data['Price'].mode()

0     Rs1420700
1      Rs198700
2      Rs228300
3      Rs390650
4      Rs399700
5      Rs413000
6      Rs521450
7      Rs582400
8      Rs619600
9      Rs620100
10     Rs678000
11     Rs757700
12     Rs825950
13     Rs853800
14     Rs876000
15     Rs945950
dtype: object

In [22]:
data.isnull().any()

Make             False
Colour           False
Odometer (KM)    False
Doors            False
Price             True
dtype: bool

In [23]:
data['Price'] = data['Price'].replace('Rs', '', regex=True)

In [29]:
data['Price'] = data['Price'].astype('float')

In [30]:
mean = data['Price'].mean()
mean

802140.7368421063

In [31]:
data['Price'].fillna(mean, inplace=True)

In [32]:
data.isnull().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [33]:
data.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object